name: Build APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.8'
    
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y git zip unzip openjdk-11-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses-dev libtinfo-dev cmake libffi-dev libssl-dev
        pip install --upgrade pip
        pip install buildozer cython==0.29.33
    
    - name: Accept Android SDK licenses
      run: |
        mkdir -p "$ANDROID_SDK_ROOT/licenses"
        echo "24333f8a63b6825ea9c551df7318f4c5ec0e11c" > "$ANDROID_SDK_ROOT/licenses/android-sdk-license"
        echo "84831b9409646a918e2411f9a982d5b93934f64" > "$ANDROID_SDK_ROOT/licenses/android-sdk-preview-license"
        echo "d56f5187479451eabf01fb78af6dfcb131a6481e" > "$ANDROID_SDK_ROOT/licenses/android-sdk-license"
    
    - name: Build APK
      run: |
        buildozer android debug --verbose
    
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: APK
        path: bin/*.apk
